<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/admin/index.css">
    <title>班级管理</title>
</head>

<body>
    <div class="layui-fluid" id="lay_pad">
        <div class="layui-row">
            <div class="layui-col-md2 left">
                <% include left_nav.html%>
            </div>
            <div class="layui-col-md10 right">
                <% include header_cla.html%>
                    <div class="main main_one">
                        <h3 id="H3">班级信息添加</h3>
                        <form class="layui-form fron_t" action="">
                            <div class="layui-form-item marg_div">
                                <label class="layui-form-label">班级编号</label>
                                <div class="layui-input-block">
                                    <input type="text" name="class" required lay-verify="required" placeholder="请输入编号" autocomplete="off" class="layui-input input_t"
                                        id="c_class">
                                        <div class="red_text1">不能为空</div>
                                </div>
                            </div>
                            <div class="layui-form-item marg_div">
                                <label class="layui-form-label">班级专业</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="specialty" required lay-verify="required" placeholder="请输入班级专业" autocomplete="off" class="layui-input input_t"
                                        id="c_specialty">
                                        <div class="red_text1">不能为空</div>
                                </div>
                            </div>
                            <div class="layui-form-item btn_left">
                                <div class="layui-input-inline">
                                    <button class="layui-btn" id="addclass" type="button">添加</button>
                                    <button class="layui-btn" id="rescla" type="button">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    <script src="/admin/class.js"></script>
</body>

</html>