<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理员登陆页面</title>
    <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/admin/index.css">
</head>

<body>
    <div class="content">
        <div class="mainBox">
            <div class="text-center Padbo">
                <h2>管理员登陆</h2>
            </div>
            <form class="form-horizontal from_box">
                <div class="form-group Padbo">
                    <label for="Username" class="col-sm-2 control-label text_pad">账&nbsp;&nbsp;&nbsp;&nbsp;户</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" id="Username" placeholder="请输入账户" autocomplete="off">
                        <div class="red_text1 ">不能为空</div>
                    </div>
                </div>
                <div class="form-group Padbo">
                    <label for="Password" class="col-sm-2 control-label text_pad">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="Password" placeholder="请输入密码" autocomplete="off">
                        <div class="red_text1">不能为空</div>
                    </div>
                </div>
                <div class="form-group Padbo">
                    <label for="Password" class="col-sm-2 control-label text_pad">验证码</label>
                    <div class="col-sm-5">
                        <input type="password" class="form-control" required id="coder" placeholder="输入右侧验证码" autocomplete="off">
                        <div class="red_text1">不能为空</div>
                    </div>
                    <div class="col-sm-5">
                        <img src="/coder" alt="" id="codeimg">
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-primary btn-delu" id="login">登陆</button>
                        <button type="button" class="btn btn-primary btn-delu" id="res">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/admin/index.js"></script>
</body>

</html>