<ul id="left_ul">
    <li class="left_li">
        <h3><i class="layui-icon">&#xe770;</i>后台管理中心</h3>
    </li>
    <hr>
    <li class="left_li"><a href="/admin/addtea">教师管理</a></li>
    <li class="left_li"><a href="/admin/stu">学生管理</a></li>
    <li class="left_li"><a href="/admin/class">班级管理</a></li>
    <li class="left_li"><a href="/admin/course">课表管理</a></li>
    <li class="left_li"><a href="/admin/announ">公告管理</a></li>  
</ul>
<!--<ul class="layui-nav layui-nav-tree" lay-filter="test" id="left_ul">
    <li class="left_li">
        <h3><i class="layui-icon">&#xe770;</i>后台管理中心</h3>
    </li>
    <hr>
  <li class="layui-nav-item layui-nav-itemed">
    <a href="/admin/addtea">教师管理</a>
    <dl class="layui-nav-child">
      <dd><a href="/admin/addtea">添加教师账号</a></dd>
      <dd><a href="/admin/tealist">教师账号列表</a></dd>
      <dd><a href="/admin/tea_seach">教师搜索</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="/admin/stu">学生管理</a>
    <dl class="layui-nav-child">
      <dd><a href="">学生账号列表</a></dd>
      <dd><a href="">学生信息添加</a></dd>
      <dd><a href="">学生搜索</a></dd>
    </dl>
  </li>
   <li class="layui-nav-item">
    <a href="/admin/class">班级管理</a>
    <dl class="layui-nav-child">
      <dd><a href="">学生账号列表</a></dd>
      <dd><a href="">学生信息添加</a></dd>
      <dd><a href="">学生搜索</a></dd>
    </dl>
  </li>
  <li class="layui-nav-item">
    <a href="/admin/course">课程管理</a>
    <dl class="layui-nav-child">
      <dd><a href="">添加课程</a></dd>
      <dd><a href="">课程列表</a></dd>
      <dd><a href="">搜索课程表></a></dd>
    </dl>
  </li>
   <li class="layui-nav-item">
    <a href="/admin/announ">公告管理</a>
    <dl class="layui-nav-child">
      <dd><a href="">发布公告</a></dd>
      <dd><a href="">查看公告</a></dd>
      <dd><a href="">学生搜索</a></dd>
    </dl>
  </li>
</ul>-->