<table class="layui-table">
    <thead>
        <tr>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
            <th>星期日</th>
        </tr>
    </thead>
    <tbody>
        <% for(let i=0;i<5;i++) { %>
        <tr>
            <% for(let e=1;e<=7;e++) { %>
                <td>
                    <% if(currinfo[i][e]) {%>
                        <span><%= currinfo[i][e].c_name %></span><br>
                        <span><%= currinfo[i][e].t_name %></span><br>
                        <strong><%= currinfo[i][e].c_addr %></strong><br>
                        <span><%= currinfo[i][e].c_start %>--<%= currinfo[i][e].c_end %></span>
                    <% } %>
                </td>
            <% } %>
        </tr>
        <% } %>
        
    </tbody>
</table>
